<div class="row">
   <div class="col-md-12">
			<hr>
			<a name="commitments">
				<h1>Commitments</h1>
			</a>

			<p>
			It is my ultimate goal for this course, and my teaching, to
			develop your academic skills, supporting your future study and career. To do so
			will require commitments from <em>you and myself</em>  toward meeting this goal.
			</p>

		<h2>Active Participation</h2>
			<p>
			<em>I will be prepared to use class time
			to help you understand the course material. I will respectfully listen to,
			understand, and answer questions asked in class. </em>

			<p>
			You are expected to attend class and actively participate in discussions,
			answering questions, asking questions, presenting material, etc. Your
			participation will be respectful of your classmates, both of their
			opinions and of their current point in their educational journey, as we
			each approach the material with different backgrounds and contexts.
			</p>


		<h2>Academic Integrity</h2>
			<p>
			<em>This course follows the rules presented in [Acdemic Integrity at UBC](https://academicintegrity.ubc.ca/).</em>
			</p>


		<h2>Learning Accomodation</h2>
			<p><em>I will make this classroom an open and inclusive environment,
			accommodating many different learning styles and perspectives.</em>
			</p>

			<p>
			Any student
			seeking accommodation in relation to a recognized disability should inform me
			at the beginning of the course.
			</p>

		<h2>Physical and Mental Health</h2>
			<p>
			<em>I am willing to work with you individually when life goes off the rails.</em>
			</p>

			<p>
			Coursework and college in general can become stressful and overwhelming, and
			your wellness can be impacted when you least expect it. You should
			participate in self-care and preventative measures, and be willing to
			find support when you need it. 
			</p>

			<!-- <ul>
			<li><a href="https://www.hendrix.edu/counseling/">The Office of Counseling Services</a>
			welcomes all students to see a counselor
			in a private and safe environment regardless of their reasons for making an
			appointment. Counseling services are available to all Hendrix students
			<b>at no cost</b>.</li>
			<li><a href="https://www.hendrix.edu/healthservices/">Student Health Services</a>
			provides <b>free healthcare</b> to Hendrix students. Services are provided by an
			Advanced Practice Registered Nurse (APRN) in collaboration with a local physician.
			</li>
			</ul>
			<p>
			The Offices of Counseling Services and Student Health Services are located in the white house
			behind the Mills Center for Social Sciences at
			<a href="https://www.google.com/maps/place/1541+Washington+Ave,+Conway,+AR+72032/">1541 Washington Avenue</a>.
			</p> -->
	</div>
	</div>
